<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankSephora.NoActionBar"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".header"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".rawlabspace.shared.ui.HostPlace"
            android:exported="false" />
        <activity
            android:name=".rawlabspace.shared.ui.FasilitasTempat"
            android:exported="false" />
        <activity
            android:name=".rawlabspace.submitreview.MainSubmitReview"
            android:exported="true"
            android:theme="@style/Theme.BankSephora.NoActionBar">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".rawlabspace.profil.EditProfile"
            android:exported="false" />
        <activity
            android:name=".rawlabspace.profil.MainProfile"
            android:exported="true"
            android:theme="@style/Theme.BankSephora.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".rawlabspace.shared.ui.Navigasi"
            android:exported="false" />
        <activity
            android:name=".rawlabspace.shared.ui.MenuSection"
            android:exported="false" />
        <activity
            android:name=".rawlabspace.shared.ui.HeaderView"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".rawlabspace.shared.ui.DialogBottomsheet"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>